<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>Contact request from TheiaLive</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body style="background: #cccccc;">
        <center>
            <table width="600" border="0" cellspacing="0" cellpadding="5" style="background: #ffffff;">
                <tr valign="top">
                    <td width="600" height="70"><img src="http://plopster.blob.core.windows.net/theialive/theialive_logo.png" width="266" height="64" alt="TheiaLive"/></td>
                </tr>
                <tr>
                    <td width="600">
                        <h1><font face="Arial, Helvetica, Sans-serif">Contact request from TheiaLive</font></h1>
                        <p><font face="Arial, Helvetica, Sans-serif">{{MSG}}</font></p>
                    </td>
                </tr>    
            </table>
        </center>
    </body>
</html>
