<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>Complete recovering your password at TheiaLive</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body style="background: #cccccc;">
        <center>
            <table width="600" border="0" cellspacing="0" cellpadding="5" style="background: #ffffff;">
                <tr valign="top">
                    <td width="600" height="70"><img src="http://plopster.blob.core.windows.net/theialive/theialive_logo.png" width="266" height="64" alt="TheiaLive"/></td>
                </tr>
                <tr>
                    <td width="600">
                        <h1><font face="Arial, Helvetica, Sans-serif">Complete recovering your password</font></h1>
                        <p><font face="Arial, Helvetica, Sans-serif">Dear {{NAME}},<br/><br/>
                        You have requested to reset your password, in order to do so we need
                        to validate you made the request. To continue, please follow this link<br/>
                        <a href="{{LINK}}" title="Complete registration">{{LINK}}</a>. This allows
                        you to provide a new password.</font></p>

                        <p><font face="Arial, Helvetica, Sans-serif">If you didn't requested to
                            reset your password at <a href="http://theialive.com" title="TheiaLive">theialive.com</a> 
                            please ignore this message. Nothing will happen to your account.</font></p>
                        <p><font face="Arial, Helvetica, Sans-serif">The TheiaLive Team</font></p>
                    </td>
                </tr>    
            </table>
        </center>
    </body>
</html>
