* { 
    margin: 0; 
    padding: 0; 
}
body { 
    font-family: 'Exo', sans-serif;; 
    text-align: center;
    background: white;
    color: black;
}
img { 
    border: 0; 
}
/** link settings **/
a { 
    text-decoration: none; 
    color: black; 
}
a:hover { color: black; }

/** general classes **/
.rounded { 
    border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    -khtml-border-radius: 10px; 
}
/** button css taken from http://css-tricks.com/examples/ButtonMaker **/
.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
}
.clear { 
    font-size: 0; 
    clear: both; 
    display: none;
}

/** general design components **/
#master { width: 1000px; margin: 0 auto; text-align: left; }
#header { height: 50px; margin-top: 20px; }

#middle { border: 1px solid black; min-height: 450px; }
#footer { }



div#logo { font-size: xx-large; width: 250px; float: left;}
div#logo a { color: black; }
div#logo a:hover { color: black; }

div#topnav { width: 220px; float: right; text-align: right; }
div#topnav div.navblock { width: 80px; height: 30px; text-align: center; float: right; border: 1px solid black; margin-left: 5px; }
div#topnav a { display: block; margin-top: 5px; }

div.content { padding: 15px; }