<!DOCTYPE html>
<html>
    <head>
        <title>Confirm your TheiaLive account</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <table>
            <tbody>
                <tr>
                    <td>Confirm your TheiaLive account</td>
                </tr>
                <tr>
                    <td>
                        <p>Hi {{NAME}},<br/><br/>Thank you for registering with
                        <a href="{{SITE_LINK}}" 
                           title="TheiaLive">TheiaLive</a>. You're almost there!
                        All that's left is to confirm your account registration.</p>
                        <p>Please click on this link <a href="{{REGISTRATION_LINK}}"
                        title="Confirm your registration">{{REGISTRATION_LINK}}</a>
                            to get started.</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
