<!DOCTYPE html>
<html>
    <head>
        <title>Request for a new password at TheiaLive</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <table>
            <tbody>
                <tr>
                    <td>Request for a new password at TheiaLive</td>
                </tr>
                <tr>
                    <td>
                        <p>Hi {{NAME}},<br/><br/>We received a request for a new
                            password at <a href="{{SITE_LINK}}" 
                           title="TheiaLive">TheiaLive</a>.</p>
                        <p>If you made this request, please follow this link
                            <a href="{{REGISTRATION_LINK}}"
                        title="Confirm your registration">{{REGISTRATION_LINK}}</a>
                            to set a new password.</p>
                        <p>If you didn't request a new password, please contact
                        us directly by sending a mail to <a href="mailto:support@theialive.com"
                        title="Send us a message">support@theialive.com</a>.</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
