
div#twitterProfile {
    width: 500px;
}
div#twitterProfilePicture {
    float: left;
    width: 35px;
}
div#twitterProfileName {
    margin-left: 45px;
    font-weight: bold;
}
span#twitterProfileScreenName {
    color: #2FC2EF;
    padding-left: 25px;
}
div#twitterProfileDescription {
    margin: 0 0 15px 45px;
}
div#twitterProfileLocation, div#twitterProfileLink {
    margin: 0 0 0 45px;
}
span#twitterProfileScreenName a, div#twitterProfileLink a {
    color: #888888;
    text-decoration: none;
}
span#twitterProfileScreenName a:hover, div#twitterProfileLink a:hover {
    color: #2FC2EF;
}
